img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper {
  overflow: hidden;
}

.slider {
  display: flex;
}

.slider li {
  width: 80vw;
  flex-shrink: 0;
  max-width: 800px;
  margin: 0 20px;
  transform: scale(0.8);
  opacity: 0.5;
  transition: 0.3s;
  will-change: transform, opacity;
}

.slider li.active {
  transform: scale(1);
  opacity: 1;
}
